## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [1]:
5 + 4 * 9 % (3 + 1) / 6 - 1
#5 + 4 * 9 % (4) / 6 - 1
#5 + 4 * 9 % (4) / 6 - 1
#5 + 36 % (4) / 6 - 1
#5 + 0/ 6 - 1
#5 + 0 - 1
#4

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [2]:
num_a = int(input('Enter a valid number: '))
'Even' if num_a%2 == 0 else 'Odd'

Enter a valid number: 4

'Even'

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [3]:
num_b = int(input('Enter a valid number: '))
for i in range(1,11):
    print(num_b*i)

Enter a valid number: 7
7
14
21
28
35
42
49
56
63
70

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [4]:
list_a = []
for i in range(2000, 3201):
    if (i%7 == 0) and (i%5 != 0) :
        list_a.append(i)
print(list_a)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [ ]:
list_b = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
list_b_int =[]
list_b_str =[]
list_b_bool =[]
list_b_float =[]
for i in list_b:
    if (type(i) == int):
        list_b_int.append(i)
    elif (type(i) == str):
        list_b_str.append(i)
    elif (type(i) == bool):
        list_b_bool.append(i)
    elif (type(i) == float):
        list_b_float.append(i)        
    else:
        pass
len_int = len(list_b_int)
print ('Count of int:', len_int)

len_str = len(list_b_str)
print ('Count of str:', len_str)

len_bool = len(list_b_bool)
print ('Count of bool:', len_bool)

len_float = len(list_b_float)
print ('Count of float:', len_float)

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [ ]:
list_c = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
sum_c = 0
for i in list_c:
    if (type(i)==int) or (type(i) == float):
        sum_c = sum_c + i
print(sum_c)

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [ ]:
list_7 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
list_7_str = []
for i in list_7:
    if (type(i)==str):
        list_7_str.append(i)
"-".join(list_7_str)

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [5]:
def func_8(list_8):
    cnt_8s = 0
    sum_8 = 0
    dict_8 = {}
    for i in list_8:
        if type(i) == str:
            cnt_8s = cnt_8s + 1
        elif (type(i) == int) or (type(i) == float):
            sum_8 = sum_8 + i
    dict_8.update({'Sum': sum_8,'Count_of_Strs': cnt_8s})
    return dict_8

In [6]:
func_8([2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7])

{'Sum': 21.5, 'Count_of_Strs': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [7]:
# i. Use loops to get the answer
list_8 = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
list_8_new = []
for i in list_8:
    if(i%2 != 0 ):
        list_8_new.append(i)
print(list_8_new)     

# ii. Use list comprehensions
list_8_newc = [i for i in list_8 if i%2 != 0]
print(list_8_newc)

# iii. Use lambda function with filter
list(filter(lambda x: x%2 !=0 , list_8))

[5, 7, 97, 77, 23, 73, 61]
[5, 7, 97, 77, 23, 73, 61]

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [9]:
def desc_10(list_10):
    '''
    function take a list of numbers as an input and 
    provides us SUM, COUNT, MIN, MAX, MEAN as output
    '''
    sum_10 = sum(list_10)
    count_10 = len(list_10)
    max_10 = max(list_10)
    min_10 = min(list_10)
    mean_10 = sum_10/count_10
    
    return print('Sum:', sum_10, 'count:', count_10, 'Max:', max_10, 'Min:', min_10, 'Mean:', mean_10)

In [10]:
desc_10([5, 7, 22, 97, 54, 62, 77, 23, 73, 61])

Sum: 481 count: 10 Max: 97 Min: 5 Mean: 48.1

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [11]:
def func_11(shape, **kwargs):
    if (shape == 'square'):
        if 'side' in kwargs.keys():
            return (kwargs['side'] ** 2)
        else:
            print('please submit side argument correct and valid positive number')
        
    if (shape == 'rectangle'):
        if ('length' in kwargs.keys()) and ('breadth' in kwargs.keys()):
            return (kwargs['length'] * kwargs['breadth'] )
        else:
            print('please submit length and breadth arguments correct and valid positive number')
    
    if (shape == 'circle'):
        if 'radius' in kwargs.keys():
            return (3.14 * kwargs['radius'] ** 2)
        else:
            print('please submit radius argument correct and valid positive number')

In [12]:
func_11 (shape = 'circle', radius = 4)

50.24

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [13]:
def func_12(l1, l2):
    s1 = set(l1)
    s2 = set(l2)
    dict_12 = {}
    
    l_matched = s1.intersection(s2)
    l_l1 = s1.difference(s2)
    l_l2 = s2.difference(s1)
    
    dict_12.update({'Matched': l_matched, 'Only in l1': l_l1, 'Only in l2': l_l2})
    return dict_12

In [14]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']
func_12(l1, l2)

{'Matched': {'December', 'February', 'January', 'June'},
 'Only in l1': {'March', 'May', 'September'},
 'Only in l2': {'April', 'October'}}

Q13: write a UDF to check if a number is prime or not.

In [15]:
# Apart from 2 and 3, every prime number can be written in the 
# form of 6n + 1 or 6n â€“ 1, where n is a natural number.
def func_13(x): 
    '''
    function checks whether given natural number (n>1) is prime or not
    '''
    if (x==2) or (x==3):
        return print('prime number')
    elif ((x-1)%6 == 0) or ((x+1)%6 == 0):
        return print('prime number')
    else:
        return print('not a prime number')

In [16]:
num_13 = int(input('Enter natural number (>1): '))
func_13(num_13)

Enter natural number (>1): 13
prime number

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [17]:
# using for loop
num_14 = int(input('Enter number to find factorial: '))
fact_14 = 1
for i in range(1, num_14 + 1):
    fact_14 = fact_14 * i
print(fact_14)

Enter number to find factorial: 3
6

In [18]:
# using while loop
num_14 = int(input('Enter number to find factorial: '))
fact_14 = 1
i = 1
while (i <= num_14):
    fact_14 = fact_14 * i
    i = i+1
print(fact_14)

Enter number to find factorial: 7
5040

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [19]:
num_15 = int(input('Enter a valid number: '))
dict_15 = {}
for i in range(1, num_15+1):
    dict_15.update({i : i*i})
dict_15

Enter a valid number: 7

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [21]:
data_16 = input('Enter comma-seperated numbers: ')
l_16 = list(data_16.split(","))
t_16 = tuple(data_16.split(","))
print(l_16, t_16)

Enter comma-seperated numbers: 1,2,3,4
['1', '2', '3', '4'] ('1', '2', '3', '4')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [22]:
words_17 = input('Enter comma seperated sequence of words: ')
l_17 = list(words_17.split(","))
l_17.sort()

for x in l_17:
    print(x, end=",")

Enter comma seperated sequence of words: without,hello,bag,world
bag,hello,without,world,

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [24]:
words_18 = input('Enter sequence of whitespace seperated words: ')
set_18 = set(words_18.split(" "))

for x in set_18:
    print(x, end=" ")

Enter sequence of whitespace seperated words: hello world and practice makes perfect and hello world again
again and world perfect practice makes hello

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [25]:
str_19 = input('Enter a sentence: ')
u_cnt = 0
l_cnt = 0

for x in str_19:
    if x.isupper() == True:
        u_cnt = u_cnt+1
    elif x.islower() == True:
        l_cnt = l_cnt+1
print("UPPER CASE", u_cnt, "LOWER CASE", l_cnt)

Enter a sentence: Hello world!
UPPER CASE 1 LOWER CASE 9

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [26]:
str_20 = input('Enter a string: ')
l_20 = []
for i in str_20:
    l_20.append(i)
for x in l_20[::-1]:
    print(x, end="")

Enter a string: abcd123
321dcba